# Django
DEBUG=True
SECRET_KEY=change-this-to-a-random-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
POSTGRES_DB=finance_db
POSTGRES_USER=finance_user
POSTGRES_PASSWORD=finance_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgres://finance_user:finance_pass@db:5432/finance_db

# CORS (Flutter dev uchun)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://10.0.2.2:8000
    